html,
body {
  padding: 0;
  margin: 0;
  background-color: #61dafb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.imga{
  display: grid;
  grid-template-columns: repeat(4,200px);
  justify-content: center;
  
}
p{
  color: black;
  font-weight: bolder;
  
}
h1{
  color:navy;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-image: url('pokemon logo.png');
  background-size: 500px 170px;
  background-position-x:center;
  background-position-y: -1px;
   background-repeat:no-repeat;

}
.score{

  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  width: 180px;
  height: 150px;
  border-radius: 5px;

}